/* CSS declarations go here */
a.nav-btns{
    color: white;
    background-color: #006fb1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}
a.nav-btns:hover{
    color:  #006fb1;
    background-color:white;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

a.nav-btns:visited{
    color: white;
    background-color: #006fb1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

a.nav-btns:visited:hover{
    color:  #006fb1;
    background-color:white;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

div.container-fluid{
    background-color: #006fb1;
}

div.container{
    width: 100%;
    background-color: #006fb1;
}

div.welcome-container{
    width: 100%;
    background-color: #006fb1;
    font-size: 20pt;
    color: white;
    text-align: center;
}

div.usr-btn{
    color: white;
    background-color: #006fb1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}
div.usr-btn:visited{
    color: white;
    background-color: #006fb1;
    }

div.usr-btn:hover{
    color:  #006fb1;
    background-color:white;
}

div.usr-btn:visited:hover{
    color:  #006fb1;
    background-color:white;
}
.testRotate{
  margin: 0px auto;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.testRotate:visited{
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.snackbar{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    max-height: 250px;
}

.barview {
    overflow-x: scroll;
    overflow-y: hidden;
    display:inline;
    list-style-type: none;
}

.snack-btn{
    width:100%;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    color: #006fb1;
    background-color: white;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;    
}


.bottom-bar {
    color: #006fb1;
    background-color: white;
    font-weight: bold;
    font-size: 24pt;
}

.snack-container {
    display: inline-block;
    width: 30%;

}