/* CSS declarations go here */
/*a.nav-btns{
    color: white;
    background-color: #006fb1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}
a.nav-btns:hover{
    color:  #006fb1;
    background-color:white;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

a.nav-btns:visited{
    color: white;
    background-color: #006fb1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

a.nav-btns:visited:hover{
    color:  #006fb1;
    background-color:white;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

div.container-fluid{
    background-color: #006fb1;
}

div.container{
    width: 100%;
    background-color: #006fb1;
}

div.welcome-container{
    width: 100%;
    background-color: #006fb1;
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
}

div.usr-btn{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #006fb1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}
div.usr-btn:visited{
    color: white;
    background-color: #006fb1;
    }

div.usr-btn:hover{
    color:  #006fb1;
    background-color:white;
}

div.usr-btn:visited:hover{
    color:  #006fb1;
    background-color:white;
}
.testRotate{
  margin: 0px auto;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.snackbar{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    max-height: 250px;
}


.snack-btn{
    width:100%;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    color: #006fb1;
    background-color: white;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}


.bottom-bar {
    color: #006fb1;
    background-color: white;
    font-weight: bold;
    font-size: 24pt;
}

.snack-container {
    display: inline-block;
    width: 30%;

}

div.user-holder{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.users-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category {
    width: 100%;
    color: white;
    background-color: #006fb1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

#footer{
    height: 35px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
}

.cart {
    position: fixed;
    width: 400px;
    bottom: 35px;
    left: 0px;
    max-height: 500px;
    overflow-y:hidden;
    font-weight: bold;
    color: #006fb1;
    font-size: 17pt;
    font-family: 'Times New Roman', Times, serif;
}

#checkout {
  bottom: 15px;
  position: relative;
  top: 15px;
}*/
