<template name="Cart">
  {{#if modalActive}}
    <footer class="modal-content">
      <div class="modal-header">
        <span class="close">x</span>
        <h2>Current Cart</h2>
        <div class="modal-body">
          {{#each cart}}
            {{> CartItem}}
          {{/each}}
        </div>
      <div class="modal-footer">
        <h3>
          Total: ${{total}}
          <button class="checkout-btn" style="float: right;">Checkout</button>
        </h3>

      </div>
      </div>
    </footer>
  {{/if}}
</template>


<template name="CartItem">
  <h3 class="shopping-list">
    {{name}}:
    <span class="right-side"> <a href="">X</a></span>
    <input class="item-counter" type="number" value={{stock}}>
  </h3>
</template>
