<template name="Item">
  <div class="item">
    {{#if editMode}}
          {{> quickForm
            collection="Menu"
            id="updateMenuItem"
            type="update"
            doc=this
            class="new-item"
          }}
    {{else}}
      <h2 class="name-text">{{name}}</h2>
      <p>Cost: <span class="cost-text">${{cost}}</span></p>
      <p>Stock: <span class="stock-text">{{stock}}</span></p>
    {{/if}}
    <button class="btn-confirmation">Purchase</button>
    <button class="btn-primary">Edit Values</button>
    <button class="btn-deny">Remove</button>
  </div>
</template>
