<template name="SideNav">
  <nav class="side-nav">
    <ul>
      <hr>
      <li>
        <a href="/add-item"> Add Item</a>
      </li>
      <li>
        <a href="/menu"> Menu</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <hr>
      <li>
        <a href="/checkout">Checkout</a>
      </li>
      <li>
          <a class="cart" href="">Cart</a>
      </li>
      <li>
        <a class="login" href="">Admin Login</a>
      </li>
      <hr>
    </ul>
  </nav>
</template>
